################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductsAPI/.vs
/ProductsAPI/obj
/ProductsAPI/bin/Debug/net8.0
