################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductsAPI/.vs
/ProductsAPI/obj
/ProductsAPI/bin/Debug/net8.0
/ConsumerConsoleExample/.vs
/ConsumerConsoleExample/obj
/ConsumerConsoleExample/bin/Debug/net8.0
/Shared/.vs
/Shared/obj
/Shared/bin/Debug/net8.0
