################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductsAPI/.vs/ProductsAPI/CopilotIndices/17.14.734.62261
/ProductsAPI/.vs/ProductsAPIbin
/ProductsAPI/.vs/ProductsAPIobj
/ProductsAPI/obj
/ProductsAPI/bin/Debug/net8.0
