<form [formGroup]="pedidoForm" (ngSubmit)="submit()">
  <h2>Cadastro de Pedido</h2>

  <label>Cliente:</label>
  <input type="text" formControlName="cliente">

  <label>Status:</label>
  <select formControlName="status">
  <option value="">Selecione</option>
  <option value="1">Pendente</option>
  <option value="2">Processado</option>
</select>

  <div formArrayName="itens">
    <h3>Itens do Pedido</h3>
    <div *ngFor="let item of itens.controls; let i = index" [formGroupName]="i">
      <br/>
      <label>Nome:</label>
      <input type="text" formControlName="nome">

      <label>Quantidade:</label>
      <input type="number" formControlName="quantidade">

      <label>Preço Unitário:</label>
      <input type="number" formControlName="precoUnitario">

      <button type="button" class="remover" (click)="removeItem(i)" *ngIf="itens.length > 1">
        Remover item
      </button>
    </div>

  </div>

  <button type="button" (click)="addItem()">+1 item</button>
  <div style="margin-top: 30px;">
    <label>Total Pedido:</label>
    <input type="number" formControlName="totalPedido">
  </div>
  <button type="submit">Enviar Pedido</button>

</form>
